#!/usr/bin/make -f
export DH_VERBOSE=1

override_dh_gencontrol:
	if [ -n "$$DEBIAN_OVERRIDE_BINARY_VERSION" ]; then \
		dh_gencontrol -- -Tdebian/substvars -v$$DEBIAN_OVERRIDE_BINARY_VERSION; \
	else \
		dh_gencontrol -Tdebian/substvars; \
	fi

%:
	dh $@
